/** @format */

@import "styles/index.scss";

.paperBox {
  height: 87px;
  background: #bffcb6;
  border-radius: 20px;
  position: relative;
}

.allBox {
  height: 87px;
  background: #f4433678;
  border-radius: 20px;
  position: relative;
}

.paperText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  position: absolute;

  left: 5px;
  top: 5.75%;
  bottom: 56.32%;
  color: white;
  background: #34835e;
  border-radius: 20px 0px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;

  letter-spacing: -0.02em;
}

.paperValue {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 52px;
  letter-spacing: -0.02em;
}

.printerBox {
  height: 87px;
  background: #abd6fd;
  border-radius: 20px;
  position: relative;
}

.printerText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  position: absolute;
  left: 5px;
  top: 5.75%;
  bottom: 56.32%;
  color: white;
  background: #0066ff;
  border-radius: 20px 0px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;

  letter-spacing: -0.02em;
}

.printerValue {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 52px;
  letter-spacing: -0.02em;
}

.tab {
  border: none;
}

.modal {
  margin-top: 50px;
  :global {
    .ant-modal-content {
      border-radius: 20px;
    }
    .ant-modal-header {
      border-radius: inherit;
    }
    .ant-modal-title {
      font-size: 24px;
      font-weight: 700;
      color: $brown-color;
      text-align: center;
      margin-top: -70px;
    }
    .ant-modal-body {
      padding: 50px 100px;
    }
  }
}
