.img {
  width: 25px;
  cursor: pointer;
  margin-right: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  &:hover,
  &:focus {
    background-color: transparent;
    border: none;
    outline: none;
  }
  :global {
    .ant-btn[disabled] {
      border: none;
      background-color: transparent;
    }
  }
}
