/** @format */

$header-height: 80px;
$side-nav-width: 226px;
$dark-grey-color: #393e46;
$dark-color: #222831;
$primary-color: #00adb5;
$white-color: #fff;
$brown-color: #630a10;
$gray-color: #b8b8b8;
$gray-color-2: #e5e5e5;
$gray-color-3: #a09db2;
$gray-color-4: #e3e2e8;
$common-border-color: rgba(227, 226, 232, 0.25);
$red-gradient-color: linear-gradient(180deg, #cb2b1f 0%, #911f27 139%);
$yellow-color: #face7f;
$yellow-color-2: #fcf0c8;
$alert-red: #cb2b1f;

$brown-color-2: #630a1080;
$background-color: #f8f8f8;
$pink-color: #ecc9cc;

$main-background: #faf9f5;

$super-small-width: 120px;

$small-width: 204px;
$medium-width: 429px;

$common-height: 50px;

$common-border-radius: 40px;
